 .full {
    text-align: center;
    background-repeat: no-repeat;
 }
 .top {
   border-radius: 5vw;
   border: .25vw solid grey;
   padding: 1vw;
   margin-top: 5vw;
   margin-left: 5vw;
   margin-right: 5vw;
 }
  .bord {
   box-shadow: 0vw 0vw 4vw 0vw rgb(16, 94, 0); 
 }
 body {
    border-left: 1vw dashed black;
    border-right: 1vw dashed black;
    overflow-y: hidden;
    height: 500vw;
    border-top: 1vw dashed black;
    background-color: aliceblue;
    box-shadow: inset 0vw 0vw 10vw .1px rgb(0, 0, 0);

 }
  .res {
   border: 3px solid black;
   padding: 2vw;
   margin-left: 25vw;
   margin-right: 15vw;
   border-radius: 1vw;
   text-align: center;
   width: 50%;
   background-color: white;
  }